<div id="tools" class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header w-100">
                    Valitse yritys:
                </h5>
                <select class="form-control" id="businessSelect">
                    <option>{{ @currentBusiness }}</option>
                    <repeat group="{{ @businessList }}" key="{{ @businessId }}" value="{{ @businessName }}">
                        <option data-businessId="{{ @businessId }}">{{ @businessName }}</option>
                    </repeat>
                </select>
                <a class="card-header btn btn-primary w-100" href="admin/newUser">
                    Luo uusi yritys
                </a>
            </div>
            
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header w-100">
                    Valitse käyttäjä:
                </h5>
                <select class="form-control" id="businessSelect">
                    <option>{{ @currentUser }}</option>
                    <repeat group="{{ @usersList }}" key="{{ @userId }}" value="{{ @userEmail }}">
                        <option data-businessId="{{ @userId }}">{{ @userEmail }}</option>
                    </repeat>
                </select>
                <a class="card-header btn btn-primary w-100" href="admin/newUser">
                    Luo uusi käyttäjä
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h5 class="card-header w-100">
                    Kirjautuneita käyttäjiä: 0
                </h5>
                <h5 class="card-header w-100">
                    Uusia käyttäjiä viim. 24h: 0
                </h5>
            </div>
        </div>
    </div>
</div>
