<ul class="nav nav-pills nav-justified mt-4 row" id="homeTab" role="tablist">
    <li class="nav-item col-md-4">
        <a class="nav-link active" id="day" data-toggle="tab" href="#nav-day" role="tab" aria-controls="nav-day" aria-selected="true"><i class="far fa-clock"></i> Työpäivä</a>
    </li>
    <li class="nav-item col-md-4">
        <a class="nav-link disabled" id="tasks" data-toggle="tab" href="#nav-tasks" role="tab" aria-controls="nav-tasks" aria-selected="false">{*<i class="fas fa-history"></i>*}<i class="fas fa-lock"></i> Työtehtävät</a>
    </li>
    <li class="nav-item col-md-4">
        <a class="nav-link disabled" id="profile" data-toggle="tab" href="#nav-tasks" role="tab" aria-controls="nav-tasks" aria-selected="false"><i class="fas fa-lock"></i> Työprofiili</a>
    </li>
</ul>